.home-body{
    height: 766px;
    width:100%;
    background-blend-mode:multiply;
    background-image:url("../assets/Tanaka-background.jpg");
    background-size: 100% 100%;
    background-color:rgba(23,18,50,0.79);
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
}

.home-banner{
   
    width:94%;
    height:94%;
}

.home-banner:hover{
    width:94%;
    height:94%;
    opacity:85%;
    cursor:pointer;
}

.category-body{
    width: 55%;
    height:193px;
    background-color: rgba(14,21,54,75%);
    display: flex;
    border-radius:10px;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    
}

.category-title:hover{
    background-color:rgba(111, 40, 1);
    cursor:pointer;
    transition-delay:100ms;
    
}

.category-text{
    font-family: 'Kameron', serif;
    font-size: 48px;
    font-weight:bold;
    color:white;
    text-align:center;
}

.category-types{
    width:600px;
    height:68px;
    display:flex;
    justify-content:space-around;
}

.category-title{
    width: 165px;
    height:68px;   
    border-radius: 27px;
    background-color: #b94402;
    color:white;
    font-family: 'Kameron', serif;
    font-size: 30px;
    font-weight:normal;
    justify-content:center;
    display: flex;
    align-items:center;
    text-decoration:none;
}

.logos-body{
    width:80%;
    height:81px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgba(28,21,43,75%);
    border-top:solid 3px #c7c4ca;
    border-bottom:solid 3px #c7c4ca;
}

.logo-body-pic{
    width:133px;
    height:58px; 
}
@media only screen and (max-width: 800px){

    .home-banner{
        max-width:100%;
    }
    .logos-body{
        width: 80%;;
    }
    .logo-body-pic{
    width:100px;
    height:45px; 
    }

    .category-text{
        display:none;
    }
    .category-body{
        height: 300px;;
    }
    .category-types{
        flex-direction:column;
        height: 100%;
        width:100%;
        align-items:center;
    }

    .home-body{
        padding-top:70px;
    }


}


